{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/samuel-morse.jpg');">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>The History of Morse Code</h1>
          <h2 class="subheading">The Origin and Legacy of Morse Code: From Telegraph to Modern Communication</h2>
          <span class="meta">
            Developed by Matheus dos Santos Breitenbach
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        Morse code is a method of encoding textual information using a series of dots and dashes, which represent
        letters, numbers, and punctuation.
        Developed in the early 1830s by Samuel Morse and his collaborator Alfred Vail, it was originally designed for
        use with the telegraph, a device
        that revolutionized long-distance communication.<br><br>

        The telegraph system allowed messages to be transmitted over wires through electrical signals. Each letter or
        symbol in Morse code was sent as
        a sequence of short and long signals, known as dots and dashes (or dits and dahs), which could be received and
        decoded by operators at the
        other end of the line.<br><br>

        Morse code became the standard for international communication in the 19th and early 20th centuries,
        particularly for maritime communication.
        Its simplicity and effectiveness made it a reliable method for sending information across vast distances before
        the advent of more advanced
        communication technologies.<br><br>

        Even today, Morse code remains a valuable skill, especially in emergency situations where more modern
        communication systems might fail.<br><br>
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}